<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.logto.sdk.android">
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application>
        <activity android:name=".auth.logto.LogtoBrowserAuthActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--
            Receives the OAuth redirect from the browser. The integrating app must define
            the `logtoRedirectScheme` manifest placeholder, and its value must equal the
            scheme of the redirect URI passed to `signIn` / `signOut`:

            android {
                defaultConfig {
                    manifestPlaceholders["logtoRedirectScheme"] = "io.logto.android"
                }
            }
        -->
        <activity android:name=".auth.logto.LogtoRedirectReceiverActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${logtoRedirectScheme}" />
            </intent-filter>
        </activity>
    </application>
</manifest>
