<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.logto.sdk.android">
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <package android:name="com.tencent.mm" />
    </queries>

    <application>
        <activity android:name=".auth.logto.LogtoWebViewAuthActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity android:name=".auth.social.web.WebSocialResultActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="logto-callback"
                    android:host="${applicationId}"
                    android:pathPrefix="/web" />
            </intent-filter>
        </activity>

        <activity android:name="com.alipay.sdk.app.AlipayResultActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="logto-callback"
                    android:host="${applicationId}"
                    android:pathPrefix="/alipay" />
            </intent-filter>
        </activity>
    </application>
</manifest>
